\.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform/tfplan-dev

terraform/.env.tfvars

package\.json
package-lock\.json
node_modules/

.idea/
.vscode/

# Python
*.egg-info/
*.pyc
*\.bak
\.fuse*
.coverage
*__pycache__
.tox/

docs/_build/
dist/
build/
htmlcov/
.DS_Store
terraform/tfplan-dev
